body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; 
    background-color: beige;
    color: #ecf0f1;
    font-family: 'Arial', sans-serif;
}

.calculator {
    width: 300px;
    background-color: #57606f;
    border: 5px solid #2d3436;
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#display {
        width: 100%;
        margin-bottom: 15px;
        padding: 15px;
        font-size: 24px;
        border: none;
        border-radius: 10px;
        background-color: #2d3436;
        color: #ecf0f1;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        width: calc(100% - 30px);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

button {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #3498db;
    color: #ecf0f1;
    transition: background-color 0.3s ease;
}

button:active {
    background-color: #2980b9;
}

button.operator {
    background-color: #e74c3c;
}

button.operator:active {
    background-color: #c0392b;
}

button.double {
    grid-column: span 2;
}

button.equal {
    background-color: #27ae60;
}

button.equal:active {
    background-color: #229954;
}

button.operator {
    justify-self: flex-end;
}